<div class="basket-title-background"></div>
<div class="basket-container">
    <div class="basket-wrap">
        <div class="basket-title">
            <p>장바구니 목록</p>
        </div>
        <div class="cart-wrap" id="cart_wrap">
            <table id="cart_table">
                <thead>
                    <tr>
                        <th>상품이미지</th>
                        <th>상품명</th>
                        <th>수량</th>
                        <th>적립포인트</th>
                        <th>개당 가격</th>
                        <th>총 금액</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="price_wrap"></div>
        <div id="total_wrap"></div>
        <div id="button_wrap"></div>
    </div>
</div>
<script>
    fetch('http://localhost:5000/api/basket')
        .then((response) => response.json())
        .then((data) => {
            if (data.message) {
                const row = `
                <p style="font-size:50px;display: flex;justify-content: space-around;margin-top:20px">고객님 정말 죄송합니다. 다시 로그인 부탁 드려요</p>
              `;

                const div = document.createElement('div');
                div.innerHTML = row;
                document.getElementById('cart_wrap').appendChild(div);
            }
            if (!data.data[0]) {
                const row = `
                <p style="font-size:30px;display: flex;justify-content: space-around;margin-top:20px">장바구니에 담은 상품이 없습니다.</p>
              `;

                const div = document.createElement('div');
                div.innerHTML = row;
                document.getElementById('cart_wrap').appendChild(div);

                const button = `
                <div style="margin-top:30px;display: flex;justify-content: space-around;margin-top:20px">
                  <button onclick="location.href='/'" class="btn goBuy">구매하러 가기</button>
                    </div>
                    
                `;
                const buttonDiv = document.createElement('div');
                buttonDiv.innerHTML = button;
                document.getElementById('button_wrap').appendChild(buttonDiv);
            } else if (data.data[0]) {
                for (let i = 0; i < data.data.length; i++) {
                    
                    let point = data.data[i].point.toLocaleString()
                    let price = data.data[i].price.toLocaleString()
                    let totalPrice = data.data[i].totalPrice.toLocaleString()

                    const row = `<tr>
                        <td>
                            <img src="${data.data[i].image}" alt="상품이미지">
                        </td>
                        <td>
                            <span class="name">${data.data[i].name}</span>
                        </td>
                        <td>
                            <span class="count">${data.data[i].count}</span>
                        </td>
                        <td>
                            <span>${point}P</span>
                        </td>
                        <td>
                            <span>${price}원</span>                                     
                        </td>
                        <td>
                            <span class="price" >
                                ${totalPrice}
                            </span>원
                            
                        </td>
                        <td>
                            <button type="button" class="delete-btn" id="${data.data[i].id}" onclick="del(this)">
                                삭제
                            </button>    
                        </td>
                    </tr>
                  
                  `;
                    const tr = document.createElement('tr');
                    tr.innerHTML = row;
                    document.getElementById('cart_table').appendChild(tr);
                }
                let finalTotalPrice = data.price.toLocaleString()

                const totalPrice = `<span class="total-price">합계 ${finalTotalPrice}원</span>`;
                const money = document.createElement('div');
                money.innerHTML = totalPrice;
                document.getElementById('total_wrap').appendChild(money);

                const button = `
                <div style="margin-top:30px;display: flex;justify-content: space-around;margin-top:20px">
                  <button type="button" class="more-btn" onclick="location.href='/'">더 담으러 가기</button>
                    <button type="button" class="buy-btn" onclick="location.href='/order'">구매하러 가기</button>
                    </div>
                    
                `;
                const div = document.createElement('div');
                div.innerHTML = button;
                document.getElementById('button_wrap').appendChild(div);
            }
        });

    function del(button) {
        let item_id = document.getElementById(button.getAttribute('id')).getAttribute('id');
        const data = { item_id };

        fetch('http://localhost:5000/api/basket', {
            credentials: 'include',
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((response) => {
                customAlert('삭제가 완료 되었습니다.');
                window.location.reload();
            })
            .catch((err) => {
                customAlert(err.message);
                window.location.reload();
            });
    }
    

</script>