<div style="display:none" id="nickname"><%=user.nickname %></div>

<div id="contentWrap">
        <nav>
            <button class= "reverse" id="logoutBtn">뒤로가기</button>
        </nav>
            <div id="chatWrap">
                <div id="chatHeader">Everyone</div>
                <div id="chatLog" style="overflow: auto; display:flex; flex-direction:column-reverse;">
                </div>
                <div class="enter" id="enter"></div>
                <form id="chatForm" name="publish">
                    <input type="text" autocomplete="off" size="30" id="message" placeholder="메시지를 입력하세요">
                    <input type="submit" value="보내기">
                </form>
            </div>
            <div id="memberWrap">
                <div id="memberList">
                    <div id="memberHeader">사람</div>
                    <div id="memberSelect">ㅇㅇ</div>
                </div>
            </div>
        </div>
    </div>

    <script>        
        const nickname = $('#nickname').text()

        $(document).ready(function () {  
            // 이 html로 연결될때 chatRoom 소켓으로 연결
            socket.emit("chatRoom")

            // 입장 메시지
            const enter = {message: `${nickname} 님이 입장했습니다.`}
            socket.emit('enterMessage', JSON.stringify(enter));
            socket.on('enterMessage', (msg) => {
        
                enterMessage(msg);
            });
        });

        function enterMessage(message) {
            let messageElem = document.createElement('div');
            const enter = JSON.parse(message);
            messageElem.textContent = enter.message
            document.getElementById('enter').append(messageElem);
        };


        document.forms.publish.onsubmit = function() {

            let outgoingMessage = this.message.value;      
            const obj = {"newMessage": { "nickname": nickname, "value": outgoingMessage }} 
            socket.emit('message', JSON.stringify(obj));
            return false;
        };

        socket.on('message', (msg) => {

            showMessage(msg);
        });

        function showMessage(message) {
            let messageElem = document.createElement('div');
            const obj = JSON.parse(message);

            if (nickname === obj.newMessage.nickname){
                let html = `
                    <div class="myMsg">
                        <span class="msg" id="myMsg">${obj.newMessage.value}</span>
                    </div>`
                $('#chatLog').prepend(html)
            } else {
                let html = `<div class="anotherMsg">
                        <span class="anotherName">Jo</span>
                        <span class="msg" id="receiveMsg">${obj.newMessage.value}</span>
                    </div>`
                $('#chatLog').prepend(html)
            }
        }

    </script>
