<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link rel="stylesheet" href="./css/reset.css" />
  </head>
  <body>
  <div id="info">
  </div>
</body>
</html>
<script>
  function mul(type)  {
  // 결과를 표시할 element
  const resultElement = document.getElementById('total');
  const price = document.getElementById('price').innerText.split(" ")[1]
  const multi = document.getElementById('count').value;
  
  // 현재 화면에 표시된 값
  let number = resultElement.innerText;
  
  // 더하기/빼기
  if(type === 'plus') {
    number = price * multi;
  }else if(type === 'minus')  {
    number = price * multi;
  }
  
  // 결과 출력
  resultElement.innerText = number;
}

let query = window.location.search;
let param = new URLSearchParams(query);
let id = Number(param.get('id') || 1);

fetch(`http://localhost:3000/api/items?id=${id}`, {credentials: "include"}).then(response => response.json()).then(({data}) => {
    const row = `
    <img src="${data.image}" alt="상품 이미지">
    <div>
    <span>상품명 ${data.name}</span>
    <span>챌린지 단계 ${data.level}단계</span>
    <span id="price">가격 ${data.price}원</span>
    <span>적립포인트 ${data.price / (5 * 100)}원</span>
    <form action="">
      <span>구매수량</span>
      <input style="HEIGHT: 20px" onclick="javascript:this.form.count.value--;mul('minus')" type="button" value="-">
      <input type="number" name="count" value="1" id="count" min="1">
      <input style="HEIGHT: 20px" onclick="javascript:this.form.count.value++;mul('plus')" type="button" value="+">
    </form>
    <p id="total" style="display:inline-block">100</p><span>원</span>
    <button onclick="addMyCart()">장바구니</button>
    <button>바로구매</button>
    </div>
    ` 

    const tr = document.createElement("div")
    tr.innerHTML = row
    document.getElementById("info").appendChild(tr)
})

function addMyCart() {

  const data = {
      count: document.getElementById("count").value
    }

    fetch(`http://localhost:3000/api/items?id=${id}`, {
      credentials: "include",
      method: "POST",
      headers: {
        "Content-Type" : "application/json"
      },
      body: JSON.stringify(data)
    }).then(response => {
      response.json()
    })
    .then((data, response) => {
      location.href = "/"
    }).catch(err => {
      window.location.reload()
    })
}
</script>