<div class="find-password-background">
    <div class="find-password-wrap">
        <div class="find-password-form">
            <div class="find-password-title-wrap">
                <p>비밀번호 찾기</p>
            </div>
            <div class="find-password-input-name-wrap">
                <input type="text" id="name" class="find-password-input" placeholder="이름" />
            </div>
            <div class="find-password-input-email-wrap">
                <input type="text" id="email" class="find-password-input" placeholder="이메일" />
            </div>
            <div class="find-password-input-phone-wrap">
                <input
                    type="text"
                    id="phone"
                    class="find-password-input"
                    placeholder="휴대폰 번호"
                />
            </div>
            <div id="error-message-wrap" class="error-message-wrap"></div>
            <div class="find-password-btn-wrap">
                <button type="button" onclick="findPassword()">비밀번호 찾기</button>
            </div>
        </div>
    </div>
</div>

<script>
    function findPassword() {
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const phone = document.getElementById('phone').value;

        const userInfo = { name, email, phone };

        $.ajax({
            type: 'POST',
            url: '/api/users/userid',
            data: userInfo,
            success: function (response) {
                window.location.href = `/update_password?id=${response.id}`;
            },
            error: function (response) {
                const { message } = response.responseJSON;

                const html = `<p>${message}</p>`;

                document.getElementById('error-message-wrap').innerHTML = html;
            },
        });
    }
</script>
