<% if (components === 'login' || components === 'register') { %>
<div class="header none-background-header">
    <div class="header-wrap">
        <div class="logo">
            <a href="/">푸드챌린지</a>
        </div>
    </div>
</div>
<% } else { %>
<div class="header">
    <div class="header-wrap">
        <div class="logo">
            <a href="/">푸드챌린지</a>
        </div>
        <div class="header-btn-wrap">
            <div class="header-btn-register">
                <a href="/register">회원가입</a>
            </div>
            <div class="header-btn-login">
                <a href="/login">로그인</a>
            </div>
        </div>
    </div>
</div>
<% } %>
