<div class="mypage-insert">마이페이지</div>

<div class="user-section">
	<div class="info-section" id="info-section">
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>주문번호</th>
			<th>상품명</th>
			<th>구매수량</th>
			<th>총금액</th>
			<th>적립포인트</th>
			<th>구매시기</th>
		</tr>
	</thead>
	<tbody id="order-list-tbody"></tbody>
</table>

<script>
	$(document).ready(function () {
		const id = new URLSearchParams(location.search).get('id')
        getMypage(2)
    });

	function getMypage(id) {

		$.ajax({
			type: 'GET',
			url: `/api/users/mypage/${id}`,
			success: function (response) {
				let {name, nickname, email, point} = response.user

				let temp_html = `
					<table class="user-info">
						<tr>
							<th>이름</th>
							<td>${name}</td>
						</tr>
						<tr>
							<th>닉네임</th>
							<td>${nickname}</td>
						</tr>
						<tr>
							<th>이메일</th>
							<td>${email}</td>
						</tr>
						<tr>
							<th>잔여 포인트</th>
							<td>${point}</td>
						</tr>

					</table>
					`
				$('#info-section').append(temp_html)
			}
		})

		$.ajax({
			type: 'GET',
			url: `/api/orders/mypage/${id}`,
			success: function (response) {
				let rows = response.orderList

				for(i = 0; i < rows.length; i++) {
					let id = rows[i].order_id
					let itemName = rows[i].name
					let count = rows[i].count
					let totalItemPrice = rows[i].total_item_price
					let savePoint = rows[i].save_point
					let createdAt = rows[i].createdAt

					let temp_html = `
							<tr>
								<td>${id}</td>
								<td>${itemName}</td>
								<td>${count}</td>
								<td>${totalItemPrice}</td>
								<td>${savePoint}</td>
								<td>${createdAt}</td>
							</tr>
					`
				$('#order-list-tbody').append(temp_html)
				}	
			}
		})
	}

</script>