<body>
	<div class="mypage-insert">마이페이지</div>

	<div class="user-section">
		<div class="info-section" id="info-section">
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>주문번호</th>
				<th>상품명</th>
				<th>구매수량</th>
				<th>총금액</th>
				<th>적립포인트</th>
				<th>구매시기</th>
			</tr>
		</thead>
		<tbody id="order-list"></tbody>
	</table>
	<div class="empty-list" id="empty-list"></div>
	<div id="pagination" class="pagination-btn-wrap"></div>
	<button type="button" id="delete-btn">계정 삭제</button>
</body>

<script>
	$(document).ready(function () {
		const id = '<%- JSON.stringify(user.id) %>'
        getMypage(id)
    });

	function getMypage(id) {
		$.ajax({
			type: 'GET',
			url: `/api/users/mypage/${id}`,
			success: function (response) {
				let {name, nickname, email, point} = response.user

				let temp_html = `
					<table class="user-info">
						<tr>
							<th>이름</th>
							<td>${name}</td>
						</tr>
						<tr>
							<th>닉네임</th>
							<td>${nickname}</td>
						</tr>
						<tr>
							<th>이메일</th>
							<td>${email}</td>
						</tr>
						<tr>
							<th>잔여 포인트</th>
							<td>${point}</td>
						</tr>
					</table>
					`
				$('#info-section').append(temp_html)
			}
		})

		const page = new URLSearchParams(location.search).get('page') || 1;

		$.ajax({
			type: 'GET',
			url: `/api/orders/mypage/${id}?page=${page}`,
			error: function (error) {
				$('#empty-list').append('<p>주문 내역이 없습니다.</p>');
			},
			success: function (response) {
				const { status, orderList, firstPage, lastPage, totalPage } = response
				let rows = response.orderList

				// 테이블에 주문목록 붙이기 : 페이지당 8개
				const html = orderList.map((order) => {
					const orderObj = JSON.stringify(order);
					return `
						<tr>
							<td>${order.order_id}</td>
							<td>${order.name}</td>
							<td>${order.count}</td>
							<td>${order.total_item_price}</td>
							<td>${order.save_point}</td>
							<td>${order.createdAt}</td>
						</tr>
					`
				})
				$('#order-list').append(html)

				// pagination 버튼 생성
				const pages = [];

				// prev 버튼
				if (page > 1) {
					const prev = `
						<a href='?page=${Number(page) - 1}'><div class="pagination-btn"><</div></a>
					`;
					pages.push(prev);
				}

				// pages 버튼
				for (let i = firstPage; i <= lastPage; i++) {
					const pageList =
						Number(page) === i
							? `<a href='?page=${i}'><div class="pagination-btn active">${i}</div></a>`
							: `<a href='?page=${i}'><div class="pagination-btn">${i}</div></a>`;

					pages.push(pageList);
				}

				// next 버튼
				if (page < lastPage) {
					const next = `
						<a href='?page=${Number(page) + 1}'><div class="pagination-btn">></div>
					`;
					pages.push(next);
				}

				document.getElementById('pagination').innerHTML = pages.join('');
			}
		})

		// 계정 삭제버튼
		document.getElementById("delete-btn").addEventListener("click", function() {
			const inputMessage = prompt('계정의 완전한 삭제를 원하신다면 입력란에 "지금삭제"를 입력해주세요.','입력란')
			console.log(inputMessage)
			
			if(inputMessage === '지금삭제'){
				$.ajax({
					type: 'DELETE',
					url: `/api/users/mypage/${id}`,
					success: function (response) {
						alert('회원 정보가 삭제되었습니다.');
						window.location.reload();
					},
				})
			} else {
				alert('회원 정보 삭제에 실패했습니다. 다시 시도해주십시오.')
				window.location.reload();
			}
		});
	}
</script>