<div class="mypage-background">
	<div class="mypage-user-info" id="user-info-box">
	</div>
	<div class="mypage-order-list" id="order-list-box">
	</div>
</div>

<script>
	$(document).ready(function () {
		const id = new URLSearchParams(location.search).get('id')
        getMypage(2)
    });

	function getMypage(id) {

		$.ajax({
			type: 'GET',
			url: `/api/users/mypage/${id}`,
			success: function (response) {
				let {name, nickname, email, point} = response.user

				console.log(response)

				let temp_html = `	
						<div class="mypage-user-name">
							<p class="name">이름 : ${name}</p>
						</div>
						<div class="mypage-user-nickname">
							<p class="nickname">닉네임 : ${nickname}</p>
						</div>
						<div class="mypage-user-email">
							<p class="email">이메일 : ${email}</p>
						</div>
						<div class="mypage-user-point">
							<p class="point">포인트 : ${point}</p>
						</div>
					`
				$('#user-info-box').append(temp_html)
			}
		})

		$.ajax({
			type: 'GET',
			url: `/api/orders/mypage/${id}`,
			success: function (response) {

				let rows = response.orderList

				for(i = 0; i < rows.length; i++) {
					let id = rows[i].order_id
					let itemName = rows[i].name
					let count = rows[i].count
					let totalItemPrice = rows[i].total_item_price
					let savePoint = rows[i].save_point
					let createdAt = rows[i].createdAt

					let temp_html = `
							<div class="mypage-order-list-id">
								<p class="id">주문번호 : ${id}</p>
							</div>
							<div class="mypage-order-list-item-name">
								<p class="item-name">상품명 : ${itemName}</p>
							</div>
							<div class="mypage-order-list-count">
								<p class="count">구매수량 : ${count}</p>
							</div>
							<div class="mypage-order-list-total_item_price">
								<p class="total_item_price">총금액 : ${totalItemPrice}</p>
							</div>
							<div class="mypage-order-list-save_point">
								<p class="save_point">적립포인트 : ${savePoint}</p>
							</div>
							<div class="mypage-order-list-createdAt">
								<p class="createdAt">구매시기 : ${createdAt}</p>
							</div>
					`
				$('#order-list-box').append(temp_html)
				}	
			}
		})
	}

</script>