<body>
    <nav
      class="navbar navbar-expand-sm navbar-dark bg-sparta justify-content-end"
    >
      <a class="navbar-brand" href="/goods.html">
        <img
          src="/logo_big_tr.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        스파르타 쇼핑몰
      </a>
      <button
        class="navbar-toggler ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse flex-grow-0 ml-auto"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto text-right">
          <li class="nav-item" id="link-cart">
            <a class="nav-link" href="/cart.html">
              장바구니<i
                class="fa fa-shopping-cart ml-2"
                aria-hidden="true"
              ></i>
            </a>
          </li>
          <li class="nav-item" id="link-logout">
            <a class="nav-link" data-toggle="modal" data-target="#signOutModal">
              로그아웃<i class="fa fa-sign-out ml-2" aria-hidden="true"></i>
            </a>
            <div
              class="modal text-left"
              id="signOutModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="signOutModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="signOutModalLabel">로그아웃</h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">정말로 로그아웃 하시겠습니까?</div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-sparta"
                      data-dismiss="modal"
                    >
                      취소
                    </button>
                    <button
                      type="button"
                      class="btn btn-sparta"
                      onclick="signOut()"
                    >
                      로그아웃하기
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="wrap">
      <div class="mb-3">
        <h4><i class="fa fa-truck mr-1" aria-hidden="true"></i>배송지 입력</h4>
      </div>
      <div>
        <div class="form-group">
          <label for="exampleInputName">받는 사람</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputName"
            placeholder="홍길동"
          />
        </div>

        <div class="form-group">
          <label for="exampleInputMobile">연락처</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputMobile"
            placeholder="010-xxx-xxxx"
          />
        </div>

        <div class="form-group">
          <label for="exampleInputAddress1">주소</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputAddress1"
            placeholder="도로명, 건물명, 번지 검색"
          />
          <input
            type="text"
            class="form-control mt-2"
            id="exampleInputAddress2"
            placeholder="상세주소"
          />
        </div>

        <button
          type="button"
          class="btn btn-sparta btn-block"
          data-toggle="modal"
          data-target="#orderModal"
          id="btnOrder"
        >
          $0.20 결제
        </button>
        <div
          class="modal text-left"
          id="orderModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="orderModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">결제완료</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <span id="nickname"></span>님, 주문해주셔서 감사합니다 :)
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-sparta btn-confirm"
                  data-dismiss="modal"
                >
                  확인
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>