<div class="register-background">
    <div class="register-wrap">
        <div class="register-form">
            <div class="register-title-wrap">
                <p>회원가입</p>
            </div>
            <div class="register-name-wrap">
                <input id="name" class="register-name-input" placeholder="이름 : 한글 3글자 이상 30글자 이하" />
            </div>
            <div class="register-nickname-wrap">
                <input id="nickname" class="register-nickname-input" placeholder="닉네임 : 한글 2글자 이상 30글자 이하, 중복 X" />
            </div>
            <div class="register-email-wrap">
                <input id="email" class="register-email-input" placeholder="이메일 : 이메일 양식('@'), 중복 X" />
            </div>
            <div class="register-password-wrap">
                <input
                    type="password"
                    id="password"
                    class="register-password-input"
                    placeholder="비밀번호 : 영문, 숫자, 영문 + 숫자 8자리 이상"
                />
            </div>
            <div class="register-password-check-wrap">
                <input
                    type="password"
                    id="password-check"
                    class="register-password-check-input"
                    placeholder="비밀번호확인"
                />
            </div>
            <div class="register-phone-wrap">
                <input id="phone" class="register-phone-input" placeholder="휴대폰번호 : 숫자 11자리, 중복 X" />
            </div>
            <div class="error-message-wrap"></div>
            <div class="register-btn-wrap">
                <button type="button" onclick="register()">가입하기</button>
            </div>
        </div>
    </div>
</div>

<script>
    function register() {
        // 유저 정보
        const userInfo = {
            name: $('#name').val(),
            nickname: $('#nickname').val(),
            email: $('#email').val(),
            password: $('#password').val(),
            passwordCheck: $('#password-check').val(),
            phone: $('#phone').val(),
        };
        // console.log(userInfo);
        $.ajax({
            type: 'POST',
            url: '/api/users/register',
            data: userInfo,
            success: function (response) {
                customAlert(response.message);
                window.location.href = '/';
            },
            error: function (response) {
                $('.error-message-wrap').empty();
                let temp = `<p>${response.responseJSON.message}</p>`;
                $('.error-message-wrap').append(temp);
                $('input').val('');
            },
        });
    }
</script>
</script>
