<div class="update-password-background">
    <div class="update-password-wrap">
        <div class="update-password-form">
            <div class="update-password-title-wrap">
                <p>비밀번호 재설정</p>
            </div>
            <div class="update-password-input-password-wrap">
                <input
                    type="password"
                    id="password"
                    class="update-password-input"
                    placeholder="비밀번호"
                />
            </div>
            <div class="update-password-input-password-check-wrap">
                <input
                    type="password"
                    id="password-check"
                    class="update-password-input"
                    placeholder="비밀번호 확인"
                />
            </div>
            <div id="error-message-wrap" class="error-message-wrap"></div>
            <div class="update-password-btn-wrap">
                <button type="button" onclick="updatePassword()">재설정 하기</button>
            </div>
        </div>
    </div>
</div>

<script>
    function updatePassword() {
        const id = new URLSearchParams(location.search).get('id');
        const password = document.getElementById('password').value;
        const passwordCheck = document.getElementById('password-check').value;

        const userInfo = { id, password, passwordCheck };

        $.ajax({
            type: 'PATCH',
            url: '/api/users/password',
            data: userInfo,
            success: function (response) {
                alert(response.message);
                window.location = '/';
            },
            error: function (response) {
                const { message } = response.responseJSON;

                const html = `<p>${message}</p>`;

                document.getElementById('error-message-wrap').innerHTML = html;
            },
        });
    }
</script>
