<div class="user-management-background">
    <div class="user-management-wrap">
        <div class="user-management-title">
            <p>회원목록</p>
        </div>
        <div class="user-management-items">
            <div class="user-management-count-wrap" id="count"></div>
            <div class="user-management-search-wrap">dfdf</div>
        </div>
        <div class="table-wrap">
            <table id="table" class="table" border="1">
                <thead>
                    <tr>
                        <th>회원번호</th>
                        <th>이름</th>
                        <th>닉네임</th>
                        <th>이메일</th>
                        <th>휴대폰</th>
                        <th>포인트</th>
                        <th>가입날짜</th>
                        <th>상태</th>
                    </tr>
                </thead>
                <tbody id="userList"></tbody>
            </table>
        </div>
        <div id="pagination" class="pagination-btn-wrap"></div>
    </div>
</div>

<script>
    const page = new URLSearchParams(location.search).get('page') || 1;

    $.ajax({
        type: 'GET',
        url: `/api/admin/users?page=${page}`,
        success: function (response) {
            const { usersCount, userList, firstPage, lastPage, totalPage } = response;

            const userCountHtml = `
                <div class="user-management-count-title">
                    <p>회원수</p>
                </div>
                <div class="user-management-count">
                    <p>${usersCount}명</p>
                </div>
            `;

            document.getElementById('count').innerHTML = userCountHtml;

            // table 에 회원 리스트 붙이기 : 1페이지당 8명
            const html = userList.map((user) => {
                return `
                    <tr>
                        <td>${user.id}</td>
                        <td>${user.name}</td>
                        <td>${user.nickname}</td>
                        <td>${user.email}</td>
                        <td>${user.phone}</td>
                        <td>${user.point}</td>
                        <td>${user.createdAt}</td>
                        <td>dfdf</td>
                    </tr>
                `;
            });

            document.getElementById('userList').innerHTML = html.join('');

            // pagination 버튼 생성
            const pages = [];

            // prev 버튼
            if (page > 1) {
                const prev = `
                    <a href='?page=${Number(page) - 1}'><div class="pagination-btn">이전</div></a>
                `;
                pages.push(prev);
            }

            // pages 버튼
            for (let i = firstPage; i <= lastPage; i++) {
                const pageList =
                    page === i
                        ? `<a href='?page=${i}'><div class="pagination-btn active">${i}</div></a>`
                        : `<a href='?page=${i}'><div class="pagination-btn">${i}</div></a>`;

                pages.push(pageList);
            }

            // next 버튼
            if (page < lastPage) {
                const next = `
                    <a href='?page=${Number(page) + 1}'><div class="pagination-btn">다음</div><li>
                `;
                pages.push(next);
            }

            document.getElementById('pagination').innerHTML = pages.join('');
        },
        error: function (response) {
            alert(response.responseJSON.message);
            window.location.href = '/';
        },
    });
</script>
