body {
    min-height: 100vh;
}
a {
    text-decoration: none !important;
}

@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}
